:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

*{
  margin:0;
  padding:0;
  background: #008125a2;
}
  .body {
   
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.dash{
  position: relative;
  background:#ffffff;
  display: inline-flex;
  width: 100vw;
  height: 80px;
}

.mtaa-safi {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:10px;
  width: 140px;
  height: 80px;
  color: #008124;
  font-family: Kavoon, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1.5px;
  transform: rotate(-5deg);
  text-shadow: 0 4px 4px rgba(6, 112, 32, 0.425);
  background: none;
}
.profile-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 1150px;
  align-content: center;
  border-radius: 50%;
  background: none;

}
.username {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 45px;
  top: 10px;
  left: 1150px;
  color: #008124;
  font-family: Kavoon, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
  background: none;
}
.home-content {
  position: relative;
  left: 0px;
  top:10px;
  width: 100vw;
  height: 515px;
  background: none;/*
  background: #0081257e;/*
  background: url("Images/pixels-kelly.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;/*
  overflow: hidden;/*
  border-radius: 5px;
  justify-content: center;*/
}

.flex-row-c-1 {
  display: inline-block;
  position: relative;
  width: 1200px;
  height: 220px;
  margin: 5px;
  background: none;
  left:15px;
}
.pick{
  position: absolute;
  top: 50px;
  left: 80px;
  
}
.pick-up-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #fffff2;
  border-radius: 5px;;
  width: 110px;
  height: 24px;
  bottom: 5px;
  left: 60px;
  color: #008124;
  font-family: Kavoon, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  border:none;
  z-index: 5;
}
.clean{
  position: absolute;
  top: 50px;
  left: 400px;
}
.clean-up-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #fffff2;
  border-radius: 5px;;
  width: 120px;
  height: 24px;
  bottom:5px;
  left: 55px;
  color: #008124;
  font-family: Kavoon, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  border:none;
}
.environment{
  position: absolute;
  top: 50px;
  left: 710px;
}
.protect-the-environment {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #fffff2;
  border-radius: 5px;;
  width: 160px;
  height: 24px;
  bottom:5px;
  left: 35px;
  color: #008124;
  font-family: Kavoon, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  border:none;
}
.orders {
  position: absolute;
  top: 50px;
  left: 1020px;
}
.buy-accessories {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #fffff2;
  border-radius: 5px;;
  width: 150px;
  height: 24px;
  bottom:5px;
  left: 40px;
  color: #008124;
  font-family: Kavoon, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  border:none;
}
.flex-row {
  display: inline-block;
  position: relative;
  width: 1200px;
  height: 220px;
  margin: 5px;
  left: 15px;
  background: none;
}
.subscribe {
  position: absolute;
  top: 50px;
  left: 80px;
}
.subscribe-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #fffff2;
  border-radius: 5px;;
  width: 120px;
  height: 24px;
  bottom: 5px;
  left: 55px;
  color: #008124;
  font-family: Kavoon, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  border:none;
}
.join {
  position: absolute;
  top: 50px;
  left: 400px;
}
.joinb{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #fffff2;
  border-radius: 5px;;
  width: 120px;
  height: 24px;
  bottom: 30px;
  left: 55px;
  color: #008124;
  font-family: Kavoon, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  border:none;
  text-decoration: none;
}
.contact{
  position: absolute;
  top: 50px;
  left: 710px;
 }
  
 .contact-us-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #fffff2;
  border-radius: 5px;;
  width: 120px;
  height: 24px;
  bottom: 5px;
  left: 55px;
  color: #008124;
  font-family: Kavoon, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  border:none;
}
.about {
  position: absolute;
  top: 50px;
  left: 1020px;
}
.about-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center center;
  position: absolute;
  background: #fffff2;
  border-radius: 5px;;
  width: 120px;
  height: 24px;
  bottom: 5px;
  left: 55px;
  color: #008124;
  font-family: Kavoon, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  border:none;
}
.clean,
.order_history,
.pick,
.pick-up,
.environment,
.orders,
.clean-up,
.envi_campaign,
.about,
.about_us,
.contact_us,
.contact,
.join,
.join_us,
.subscribe,
.subs{
  width: 230px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px 10px #0081259c;
}
.about_us,
.contact_us,
.envi_campaign,
.join_us,
.subs,
.order_history,
.clean-up,
.environment{
  position: relative;
  box-shadow: 5px 10px 10px 10px #0081259c;
}